.themeing{
    border-style: double;
    border-width: 2px;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}

#home{
    background-image: url("https://thumbs.gfycat.com/PeacefulIdleGalapagoshawk-size_restricted.gif")
}

.ok{
    display: inline-block
}
.ok:link{
    color: red;
}

.redBord{
    text-shadow: 1px 1px 1px red;
}

#survey{
        background-image: url("https://i.imgur.com/1c7ehed.jpg");
        background-repeat: repeat;
        background-attachment: fixed;
}

.contain{
    background-image: url("https://i.imgur.com/SEF3Z0G.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}